body{
    background-image: url("./img/bg1.webp");
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:55px;
    align-items: center;
}
.logo{
    width: 50px;
    margin-right: 4px;
    display: flex;
}

.web-logo{
    flex:1;
    height: 100%;
    width: 90%;
    border-radius: 50%;
    box-shadow: 1px 0px 2px 1px rgb(227, 192, 192);
}

.searchbar{
    flex: 1;
    margin-right: 4px;
    max-width: 500px;
    display: flex;
}

.links{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links  li{
    list-style: none;
    padding: 10px;
}

.links li a{
    color: #fff; 
    text-decoration: none;
    font-size: 18px;
    font-style: sans-serif;
}

.links  li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.links li:hover::after{
    width: 100%;
}

.search-bar::placeholder{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.search-bar{
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 5px;
    box-shadow: inset 1px 2px 5px rgba(0, 0,0, 0.15);
    flex:1;
    box-shadow: 0px 0px 3px 1px rgb(240, 221, 221);

}   

.workcards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}

.work{
    margin-top: 2px;
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: solid;
    box-shadow: 0px 0px 5px 2px white;
}


.topsection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    margin: 20px 0px;
    border-radius: 10px;
    color: white;
}

.bottomsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#btn{
    width: 100px;
    height: 50px;
    background-color: rgb(246, 154, 62);
    border-radius: 10px;
}

#btn2{
    margin: 50px 10%;
    width: 80%;
    height: 50px;
    background-color: rgb(246, 154, 62);
    border-radius: 10px;
    
}

#btn2:hover , #btn:hover{
    border: solid;
    box-shadow: 0px 0px 5px 2px white;
}

/* 
form{
    vertical-align: middle;
    margin: auto;
    border: solid;
    border-color: black;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    row-gap: 10px;
    box-shadow: 1px 1px 5px 1px white;
    color: white;
    padding: 5px;

} */

input{
    height: 25px;
    font-size: 18px;
}